.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: white;
}

.App a {
  color: #61dafb;
}

.topMenu {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 2rem;
}

.config {
  margin-left: auto;
}
